@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4e6e6;
    height: 100vh;
}

.App{
    height: 100vh;
}